#mura-elasticsearch-admin {
    line-height:1.5;
}

#mura-elasticsearch-admin,
#mura-elasticsearch-admin button {
    font-size: 14px;
}

#mura-elasticsearch-admin dt,
#mura-elasticsearch-admin dd {
    margin-bottom: 15px;
}

#mura-elasticsearch-admin * {
    box-sizing: border-box;
}

.mes-details__status {
    text-transform: uppercase;
    font-weight: bold;
}

.mes-details__status:before {
    content: ' ';
    display: inline-block;
    margin-right: 5px;
    width:11px;
    height:11px;
    border-radius:5.5px;
    line-height:10px;
    background:#999;
} 

.mes-details__status {
    color: #999;
}

.mes-details__status--online:before {
    background: #5bb75b;
}

.mes-details__status--online {
    color: #5bb75b;
}

.mes-details__status--offline:before {
    background: red;
}

.mes-details__status--offline {
    color: red;
}

.mes-details th {
    width: 50%;
}

.mes-index-history__started {
    width: 50%;
}

.mes-index-history__status {
    width: 50%;
}

.mes-index-actions {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
        margin-bottom: 15px;
    }
}

.mes-search-form {
    margin: auto 0;

    & .input-append {
        margin-bottom: 0;
    }
}

input[type="text"].mes-search-form__text {
    line-height: 18px;
    padding: 4px; 
    font-size: 14px;
    height: auto;
}

.mes-tip {
    font-size: 0.9em;
    font-weight: normal;
    color: #999;
}

.mes-search-form__tip {
    @extend .mes-tip;
    display: block;
    position: absolute;
    margin-top: 5px;
}

.mes-admin__header {
    display: flex;
    position: relative;
    height: 60px;

    & h1 {
        flex: 1;
        margin: auto 0;

        & a {
            color: #5bb75b !important;
            text-decoration: none;
        }
    }
}

.mes-admin__content {
    margin-top: 14px;
}

.mes-admin__footer {
    color: #999;
    text-align: center;
    margin-top: 70px;
    font-size: 0.9em;
}

.mes-reindex .progress-bar {
    background-color: #B0EDB0;
}

.mes-reindex--completed .progress-bar {
    background-color: #5bb75b;
}

.mes-reindex--failed .progress-bar {
    background-color: rgb(215, 120, 120);
}

.mes-reindex--cancelled .progress-bar{
    background-color: orange;
}

.mes-search__results {
    border-top: 1px solid #EFEFEF;
    margin-top: 15px;
}

.mes-search-result {
    margin: 15px 0;
}

.mes-search-result__meta {
    font-size:0.9em;

    & strong {
        text-transform: capitalize;
    }
}

.mes-search__back {
    margin: 15px 0;

    & a {
        padding: 5px 8px;
        background-color: #EEE;
        border-radius: 5px;
        text-decoration: none;
    }
}

.mes-reindex-enter.mes-reindex-enter-active {
    background-color: #FFFF93;
}

.mes-reindex {
    transition: background-color 1s ease-out;
}